* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #eeeeee;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
}

#playing-grid {
    margin-bottom: 10vh;
    height: 60vh;
    width: 60vh;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    box-sizing: border-box;
}

#header {
    margin-top: 10vh;
}

.m-y {
    border-left: 4px black solid;
    border-right: 4px black solid;
}

.m-x {
    border-top: 4px black solid;
    border-bottom: 4px black solid;
}

img {
    height: 100%;
    width: 100%;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 3rem;
}